@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans); 

body {
    /*background-image: url("./backgg.jpg");*/
    background-color: /*#6D0000*/ black;
    font-family: 'Open Sans', sans-serif;
}
#content_news {
    background-color: #be5254 !important;
    color: black !important;
}
.carousel {
    margin-top: 150px !important;
}

.carousel-inner {
    margin-left: 5%;
}

.popup-box-on {
    display: block !important;
}
.off {
    display: none;
}
.chat_box .chat_message_wrapper ul.chat_message > li + li {
    margin-top: 4px;
}

#search.open {
    opacity: 1;
    transform: translate(0px, 0px) scale(1, 1);
}
#search {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
    z-index: 2000;
    
}
#search .close {
    color: #be5254;
    font-size: 40px;
    opacity: 1;
    padding: 10px 17px;
    position: fixed;
    right: 15px;
    top: 15px;
}
button.close {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
}
.close {
    float: right;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
}

#search input[type="text"] {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #333;
    font-family: "Open Sans",sans-serif;
    font-size: 50px;
    font-weight: 300;
    margin: -51px auto 0;
    outline: medium none;
    padding-left: 30px;
    padding-right: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
#search .btn {
    left: 50%;
    margin-top: 60px;
    padding: 10px 50px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
}
nav {
    background: black none repeat scroll 0 0 !important;
    border: medium none !important;
    /*border-radius: 151px !important;*/
}
.s-icon a {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 40px !important;
    color: #be5254 !important;
    font-size: 26px;
    height: 44px;
    margin: 3px -12px 0 0;
    padding: 7px 0 0 !important;
    text-align: center;
    width: 44px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    background: #fff none repeat scroll 0 0 !important; 
    border-radius: 50px;
     color: #be5254 !important;
    height: auto;
    margin: 3px 0 2px -12px !important;
    padding: 12px 20px !important;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 153px;
    font-size: 29px;
}
.btn-site {
    background: #be5254 none repeat scroll 0 0;
    color: #fff !important;
}

#userLogin {
    left: 200px !important;
    color: #fff !important;
}

.navbar-right {
    width: 400px !important;
}

.s-icon {
    width: 200px !important;
}

.navbar-brand {
    font-size: 20px !important;
}

.li_nav:hover {
    background-color: #1E0000 !important;
    border-radius: 10px !important;
}

#btnDisabled:hover {
    background-color: black !important;
}


/*-----------------------------------------------------------*/
.news {
    background: #fff;
	position: relative;
	overflow: hidden;
	z-index:1;
 	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	

	border: 1px solid #eaeaea;
}

.news .img-figure {
	position: relative;
}

.news .img-figure img {
	position: relative;	
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.news:hover .img-figure img {
	-webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	-ms-transform: scale(1.10);
	-o-transform: scale(1.10);
	transform: scale(1.10);
}

.news .title {
	/*padding: 29px 30px;*/
	padding: 45px 30px;
	position: absolute;
	left: 0;
	background: #fff;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.news .title h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
/*	color: #3D6AA2;*/
	text-align: center;
}

.news:hover .title  {
	margin-top: -90px;
	background: #fff;
}

.news  p.description {
	position: relative;
	font-weight: normal;
	line-height: 22px;
	opacity: 0;

	text-align: center;

	padding: 15px 30px 0px 30px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.news:hover p.description  {
	opacity: 1;
}

p.more {
	text-align: center;
}

.more a {
    position: relative;
    font-size: 13px;
    margin-top: 30px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: black;
}

.more a:after {
    content: '';
    width: 18px;
    height: 1px;

    position: absolute;
    left: 55px;
    top: 9px;

    background: #28998b;

    vertical-align: middle;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


.news:hover a:after {
    width: 30px;
}

.cat {
	background: #6D0000;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 1;
	padding: 3px 15px;
}


