body {
    /*background-image: url("./backgg.jpg");*/
    background-color: #6D0000;
}

.container {
    margin-top: 10% !important;
}

.main_div {
    position:relative;
    background-color: black; 
    padding: 30px;
    border-radius: 20px;
}

#buttonForm {
    background-color: #8C0000 !important;
    color: #000;
    font-size: 20px; 
}

.adminPer {
    color:white !important;
    font-size: 17px !important;
}

h2 {
    color:white !important;
    font-size: 30px !important;
}

